<section class="features-section section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">How It Works</h2>
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img1.png"
              alt="Screenshot of the game"
              width="98"
              height="103"
              loading="lazy"
            />
            <p class="features-item-text">
              Match and merge identical items on the board
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img2.png"
              alt="Screenshot of the game"
              width="98"
              height="103"
              loading="lazy"
            />
            <p class="features-item-text">
              Create higher-level objects with new functions
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img3.png"
              alt="Screenshot of the game"
              width="98"
              height="103"
              loading="lazy"
            />
            <p class="features-item-text">
              Use merged items to repair buildings and unlock zones
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img4.png"
              alt="Screenshot of the game"
              width="98"
              height="103"
              loading="lazy"
            />
            <p class="features-item-text">
              Complete small tasks to progress the story
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img5.png"
              alt="Screenshot of the game"
              width="98"
              height="103"
              loading="lazy"
            />
            <p class="features-item-text">
              Open new areas and continue expanding the town
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <img
              class="features-img"
              src="./img/features/features-img6.png"
              alt="Screenshot of the game"
              width="98"
              height="103"
              loading="lazy"
            />
            <p class="features-item-text">
              Each merge feels meaningful and contributes directly to the town’s
              growth.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
