<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">Gameplay</h2>
      <p class="gameplay-text">
        <span class="gameplay-text-span">Fable Town: Merge & Build</span> is a
        cozy merge puzzle game set in a charming fairy-tale world. Players
        restore a magical town by merging objects, unlocking new buildings, and
        helping storybook characters bring life back to the land. It's basically
        a chill merge game where you rebuild this fairy-tale town - perfect for
        when you just want to unwind and watch something beautiful come together
        piece by piece. What I love about it is how you're not rushed - you just
        get to be creative and watch this abandoned little town slowly come back
        to life.
      </p>
    </div>
    <picture>
      <source
        srcset="./img/gameplay/gameplay-right-line-desk.png"
        media="(min-width: 1440px)"
        width="492"
        height="236" />
      <source
        srcset="./img/gameplay/gameplay-right-line-mob.png"
        width="176"
        height="84" />
      <img
        class="gameplay-right-line-img"
        src="./img/gameplay/gameplay-right-line-mob.png"
        alt="Screenshot of the game"
        width="176"
        height="84"
    /></picture>
    <img
      class="gameplay-left-line-img"
      src="./img/gameplay/gameplay-left-line-desk.png"
      alt="Screenshot of the game"
      width="592"
      height="284"
    />
  </div>
</section>
